body {
  margin: 0; 
  font-family: 'Arial', sans-serif; 
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

/*Loading and Error Messages*/
.loading-message, 
.error-message, 
.not-found-message {
  text-align: center;
  padding: 2rem;
  font-size: 1.1rem;
  color: #363b78;
}

.error-message {
  color: #dc2626;
}
